<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49238018761-b7k2geqfis14pme1alrngjb87del44oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49238018761-b7k2geqfis14pme1alrngjb87del44oc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYA3mqo2xFsY5264huhA_A9n6-VaD84a8</string>
	<key>GCM_SENDER_ID</key>
	<string>49238018761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boutiq.provider</string>
	<key>PROJECT_ID</key>
	<string>boutiq-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>boutiq-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49238018761:ios:18a5fae92089122ae71b18</string>
</dict>
</plist>